@use 'assets' as a;

//Ta bort margin, padding, box-sizing
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Regler för bredd, typsnitt, färger osv
body {
    width: 100%;
    max-width: 2500px;
    margin: auto;
    overflow-x: hidden;
    font-family: a.$bread;
    background-color: a.$lightgrey;
    position: relative;
}

//Overflow-x hidden
.wrapper {
    position: relative;
    overflow-x: hidden;
}

//Se till att content sträcker sig över hela viewport men kan scrolla
.main-container {
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

//Allmänna rubrikregler
h1 {
    font-family: a.$h1;
    font-size: 3.5em;
    line-height: 1;
    color: a.$orange;
}
h2 {
    font-family: a.$h2;
    font-weight: 400;
    color: a.$midgrey;
}

//Allmänna listregler
ul li {
    list-style: none;
}

//Ta bort understrykning
a {
    text-decoration: none;
}
//Gör nav länkar vita
nav ul li a {
    color: white;
    font-family: a.$h2;
}

p.credits {
    font-size: 0.8em;
    color: a.$midgrey;
}
